#root {
	background-color: aqua;
	width: 375px;
	height: 667px;
	position: absolute;
}

.login_page {
	position: relative;
	width: 375px;
	height: 667px;
	background-image: url('http://localhost:3000/img/login_page_bg.png');
}

.login_button {
    width: 100px;
    height: 34px;
    top: 300px;
    left: 140px;
    position: absolute;
	background-image: url('/img/login_button.png');
}

.callback_page {
	position: relative;
	width: 375px;
	height: 667px;
	background-image: url('/img/callback_page_bg.gif');
}

